<% if (username) {%>
<div>
  <div>
    <h3>Hola! <%=username%></h3>
    <span class="group-btn">
      <a href="logout" class="btn btn-primary btn-md"
        >Logout <i class="fa fa-sign-in"></i
      ></a>
    </span>
  </div>
  <hr />
</div>
<%}%>
